<div class='container'>
	<div class="row" style="padding-top:40px">
		<div ng-controller='LoginCtrl as login' class="col-md-5">
			<div class='panel panel-primary'>
				<div class='panel-heading'>
					<span>Login</span>
				</div>

				<div class='panel-body'>
					<div class='input-group'>
						<input ng-model='login.name' class='form-control input-sm' placeholder='What is your name?' tooltip='Tell us your name, so patients know who you are.' tooltip-trigger='mouseenter' tooltip-placement='bottom'/>
						<input type='password' class='form-control input-sm' ng-model='login.password' placeholder='Password'/>
						<button ng-click='login.login()' class='btn btn-warning btn-sm' id="btn-chat">Login</button>
						<span><a href="#register">Register</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

