<html>
	<head>
		<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/map.css">
		<link rel="stylesheet" href="css/chat.css">
	</head>
	<body ng-app='app'>
		<div class="container">
			<div class="row" style="padding-top:40px;">
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">Queued Conversations</div>

						<div ng-controller="ConvsCtrl" class="panel-body">
							<ul class='media-list'>
								<li ng-repeat='conv in convs' class='media'>
									<div class="media-body">
										<div class="media">
											<span class="pull-left">Avatar</span>
											<div class="media-body">
												<h5>{{ conv.name }} | {{ conv.firstMessage }}</h5>
												<small class="text-muted">date at time</small>
												<button ng-click='joinConversation(conv.id)' class='btn btn-default'>Join</button>
											</div>
										</div>
									</div>
									<hr />
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			  	<div ng-controller="ChatTabCtrl" class="col-md-5">
			  		<tabset justified="true">
					    <tab ng-repeat="(key, value) in chats" select="conversationSelected(key)" deselect="conversationDeselected(key)">
					    	<tab-heading>{{ value.messages[0].sender }} <span ng-if="value.unreadMessages > 0">{{ value.unreadMessages }}<i class="glyphicon glyphicon-comment"></i></span></tab-heading>

					    	<div ng-controller="MsgCtrl" class="panel panel-primary">
					    		<div class="panel-heading">
					    			<span class="glyphicon glyphicon-comment"></span> Chat
					    			<!--<div ng-controller="DropdownCtrl">-->
				                        <div class="btn-group pull-right" dropdown>
				                            <button type="button" class="btn btn-default btn-xs" dropdown-toggle>
				                                <span class="glyphicon glyphicon-chevron-down"></span>
				                            </button>
				                            <ul class="dropdown-menu slidedown">
				                                <li><a href="#"><span class="glyphicon glyphicon-refresh">
				                                </span>Refresh</a></li>
				                                <li><a href="#"><span class="glyphicon glyphicon-ok-sign">
				                                </span>Available</a></li>
				                                <li><a href="#"><span class="glyphicon glyphicon-remove">
				                                </span>Busy</a></li>
				                                <li><a href="#"><span class="glyphicon glyphicon-time"></span>
				                                    Away</a></li>
				                                <li class="divider"></li>
				                                <li><a href="#"><span class="glyphicon glyphicon-off"></span>
				                                    Sign Out</a></li>
				                            </ul>
				                        </div>
				                        <!--</div>-->
						    	</div>
					    		<div class="panel-body">
						    		<ul class="chat">
						    			<li ng-repeat="chat in value.messages" class="{{chat.msgOptions.pullSide}} clearfix">
						    				<span class="chat-img pull-{{chat.msgOptions.pullSide}}">
		                                    <img src="http://placehold.it/50/{{chat.msgOptions.avatarColour}}/fff&text={{chat.msgOptions.avatar}}" alt="User Avatar" class="img-circle" />

		                                	</span>



					    					<div class="chat-body clearfix">
					    						<div ng-if="chat.msgOptions.pullSide==='left'">
			                                        <div class="header">
			                                            <strong class=" primary-font"> {{ chat.sender }} </strong><small class="pull-right text-muted">
			                                            <span class="glyphicon glyphicon-time"></span> n mins ago</small><!--TODO: time to come from model-->
			                                        </div>
			                                    </div>  
			                                    <div ng-if="chat.msgOptions.pullSide==='right'">
			                                        <div class="header">
			                                            <small class=" text-muted">
			                                            <span class="glyphicon glyphicon-time"></span> n mins ago</small><strong class="pull-right primary-font"> {{ chat.sender }} </strong><!--TODO: time to come from model-->
			                                        </div>
			                                    </div>  

												<p>
                                        			{{ chat.msg }}
                                    			</p>
					    					</div>
						    			</li>
						    		</ul>
					    		</div>
					    		<alert ng-repeat="alert in alerts" type="success" close="closeAlert($index)">{{ alert.msg }}</alert>
					    		<div class="panel-footer">
					    			<div class="input-group">
								  		<input ng-model='msgToSend' class='form-control' placeholder="Enter message"/>
								  		<span class="input-group-btn">
								  			<button ng-click='sendMessage(key)' class='btn btn-warning btn-sm' id="btn-chat">Send</button>
								  		</span>
							  		</div>
						  		</div>
					    	</div>

						  	<h3>User Location</h3>
						  	<hr />
						  	<div class="angular-google-map-container" ng-controller='LocCtrl'>

						  		<label>Location Status: </label><span>{{ statusMsg }}</span>
						  		<label>Latitude: </label><span>{{ latitude }}</span>
						  		<label>Longitude: </label><span>{{ longitude }}</span>
						  		<button ng-click='grabLocation(key)'>Grab User Location</button>

						  		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
							  		

						  			<ui-gmap-markers models="map.markers" idkey="'id'" coords="'coords'" icon="'icon'" options="'options'" isLabel='true' click="'onClick'" events="'events'">

						  				<ui-gmap-windows coords="'self'" options="windowOptions" closeClick="closeClick()">
		           							<div ng-non-bindable>{{title}}</div>
		        						</ui-gmap-windows>

		        					</ui-gmap-markers>
			        					
						  		</ui-gmap-google-map>
						  		<!--TODO: replace with google maps and a list of nearby pharmacies-->
					    	</div>

					    </tab>
					  </tabset>
			  	</div>
			</div>
	  	</div>


		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
		<script src="components/socket.io-client/socket.io.js"></script>
		<script src="components/angularjs/angular.js"></script>
		<script src="components/angularjs-scroll-glue/src/scrollglue.js"></script>
		<script src="components/angular-socket-io/socket.js"></script>
		<script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="components/lodash/dist/lodash.js"></script>
		<script src="components/angular-google-maps/dist/angular-google-maps.js"></script>
		<script>
			var app = angular.module('app', ['btford.socket-io', 'ui.bootstrap', 'uiGmapgoogle-maps'
        	]).
        	config(function(uiGmapGoogleMapApiProvider){
        		uiGmapGoogleMapApiProvider.configure({
        			key: '<api_key>',
        			v: '3.17'
        		});
        	}).
        	factory('ioSocket', function(socketFactory){
            	return socketFactory();
        	}).
			factory('conversationService', function(){
				return { conversations: {} };
			}).
			factory('MarkerCreatorService', function(){
				var markerId = 0;
				function create(latitude, longitude, message){
					var marker = {
						options: {
							animation: 0,
						},
						coords: {
							latitude: latitude,
							longitude: longitude
						},
						id: ++markerId,
						title: message,
						show: false
					};
					marker.onClick = function(){
						marker.show = !marker.show;
					};
					return marker;
				}

				function invokeSuccessCallback(successCallback, marker) {
			        if (typeof successCallback === 'function') {
			            successCallback(marker);
			        }
			    }

				function createByCoords(latitude, longitude, message, successCallback){
					var marker = create(latitude, longitude, message);
					invokeSuccessCallback(successCallback, marker);
				}

				return { createByCoords: createByCoords };
			}).
			controller('ConvsCtrl', function($scope, $rootScope, conversationService, ioSocket){
				$scope.convs = [];
				ioSocket.emit('pharmacistListener');
				ioSocket.on('conversationCreated', function(conversation){

					addConversation(conversation);
				});

				ioSocket.on('conversations', function(conversations){
					for (var i = 0; i< conversations.length; i++){
						addConversation(conversations[i]);
					}
				});

				$rootScope.$on('joinedConversation', function(eventName, conversationId){
					for( index = 0; index < $scope.convs.length; ++index){
						if($scope.convs[index].id === conversationId){
							removeConversation(index);
						}
					}
				});

				function removeConversation(index){
					$scope.convs.splice(index, 1);
				}

				function addConversation (conversation){
					
					$scope.convs.push({
						name: conversation.name,
						firstMessage: conversation.messages[0].msg,
						id: conversation.id
					});
					conversationService.conversations[conversation.id] = conversation;
				}

				$scope.joinConversation = function(conversationId){
					ioSocket.emit('joinConversation', conversationId, 'Pharmacist'); // name to come from session
				}
			}).
			controller('ChatTabCtrl', function($scope, $rootScope, conversationService, ioSocket){
				$scope.chats = {};
				
				

				ioSocket.on('joinedConversation', function(conversation){

					$scope.chats[conversation.id] = { chatSelected: ($scope.chats.length > 1 ? true : false), unreadMessages: 0, messages: [] };

					for(var i = 0; i < conversation.messages.length; i++){
                    	var chat = conversation.messages[i];
                    	$scope.appendMessage(conversation.id, chat.sender, chat.msg);
                	}

					$rootScope.$broadcast('joinedConversation', conversation.id);
				});

				ioSocket.on('chatMessage', function(conversation, message){
					
					$scope.appendMessage(conversation.conversation, conversation.name, message);
				});
				

				$scope.appendMessage = function(conversationId, sender, message){
					

					if(!$scope.chats[conversationId].chatSelected){
						$scope.chats[conversationId].unreadMessages+=1;
					}

					var msgOptions={
						pullSide: 'left',
						oppositeSide: 'right',
						avatar: 'U',
						avatarColour: '55C1E7'
					};

					if(sender === 'Pharmacist'){
						msgOptions.pullSide = 'right';
	                    msgOptions.oppositeSide = 'left';
	                    msgOptions.avatar = 'P';
	                    msgOptions.avatarColour = 'FA6F57';
					}

					$scope.chats[conversationId].messages.push({
						msg: message, 
						sender: sender,
						msgOptions: msgOptions
					});
				}

				$scope.conversationSelected = function(conversationId){
					$scope.chats[conversationId].unreadMessages = 0;
					$scope.chats[conversationId].chatSelected = true;
				}

				$scope.conversationDeselected = function(conversationId){
					$scope.chats[conversationId].chatSelected = false;
				}
			}).
			controller('MsgCtrl', function($scope, $rootScope, conversationService, ioSocket){

				$scope.sendMessage = function(convId){
					if($scope.msgToSend){
						ioSocket.emit('chatMessage', convId, $scope.msgToSend);
						$scope.appendMessage(convId, "Pharmacist", $scope.msgToSend);
						$scope.msgToSend = null;
					}
				}

			}).
			controller('LocCtrl', function($scope, $rootScope, ioSocket, MarkerCreatorService){
				$scope.latitude = 0;
				$scope.longitude = 0;
				$scope.statusMsg = 'N/A';

				$scope.grabLocation = function(conversationId){
					ioSocket.emit('getUserLocation', conversationId);					
				}

				ioSocket.on('userLocation', function(latitude, longitude, statusMsg){
					$scope.latitude = latitude;
					$scope.longitude = longitude;
					$scope.statusMsg = statusMsg;

					MarkerCreatorService.createByCoords(latitude, longitude, "User is here", function(marker){
						$scope.userMarker = marker;
					});

					$scope.map = { 
						center:{ 
							latitude: latitude, 
							longitude: longitude 
						}, 
						zoom: 12,
						markers: []
					};
					$scope.map.markers.push($scope.userMarker);
	

				});

				//uiGmapGoogleMapApi.then(function(maps){

				//});
			});
		</script>	
	</body>
</html>







