<html>
	<head>
		<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="components/angular-bootstrap-simple-chat/src/css/style.css">
	</head>
	<body ng-app='app'>
		<h3>Conversations</h3>

		<div ng-controller='ConvsCtrl' class='container'>
			<ul class='list-group'>
				<li ng-repeat='conv in convs' class='list-group-item'>
					<strong>@{{ conv.name }}</strong>
					<span>{{ conv.firstMessage }}</span>
					<button ng-click='joinConversation(conv.id)' class='btn btn-default'>Join</button>
				</li>
			</ul>
		</div>

		<h3>Conversations</h3>
		<hr />
		

	  	<div ng-controller="ChatTabCtrl">
	  		<tabset vertical="true" type="pills">
			    <tab ng-repeat="chat in chats" heading="{{chat.name}}">
			    	<div ng-controller="MsgCtrl">
			    		<ul class="list-group">
			    			<li ng-repeat="msg in msgs" class="list-group-item">
			    				<strong>Person: </strong> <span>{{msg.msg}}</span>
			    			</li>
			    		</ul>
			    		<alert ng-repeat="alert in alerts" type="success" close="closeAlert($index)">{{alert.msg}}</alert>
				  		<input ng-model='msgToSend' class='form-control'/>
				  		<button ng-click='sendMessage()' class='btn btn-default'>Send</button>
			    	</div>
			    </tab>
			  </tabset>
	  	</div>


		<script src="components/socket.io-client/socket.io.js"></script>
		<script src="components/angularjs/angular.js"></script>
		<script src="components/angularjs-scroll-glue/src/scrollglue.js"></script>
		<script src="components/angular-socket-io/socket.js"></script>
		<script>
			var app = angular.module('app', [
				'btford.socket.io'
				]).
				factory('ioSocket', function(socketFactory){
					return socketFactory();
				}).
				factory('conversationService', function(){
					return { conversations: {} };
				}).
				controller('ConvsCtrl', function($scope, conversationService, ioSocket){
					
					ioSocket.on('conversationCreated', function(conversation){
						addConversation(conversation);
					});

					$scope.addConversation = function(conversation){
						$scope.convs.push({
							name: conversation.name,
							firstMessage: conversation.firstMessage
						});
						conversationService.conversations[conversation.id] = conversation;
					}
					
				}).
				controller('ChatTabCtrl', function($scope, conversationService){

				}).
				controller('MsgCtrl', function($scope, conversationService){

				});

		var socket =io();
		var conversations = {};
		var app = angular.module('app', []);
		socket.emit('add pharmacist');



		
		$('#chatForm').submit(function(){
			socket.emit('chatMessage', $('#m').val());
			appendMessage($('#m').val());
			$('#m').val('');
			return false;
		});

		socket.on('conversations', function(convs){
			for(var key in convs){
				addConversation(convs[key]);
			}
		});

		socket.on('conversationCreated', function(conversation){
			var button = createButton(conversation["conversationId"])
			$('#conversationList').append($('<li>').text(conversation.name + " - " + conversation.firstMessage)).append(button);
			addConversation(conversation);
		});

		socket.on('chatMessage', function(clientId, message){
			appendMessage(message);
		});

		socket.on('joinedConversation', function(conversation){
			//TODO: remove consersation from the list
			appendMessage(conversation.firstMessage);
		});



		function createButton(conversationId){
			var button = $('<button/>', {
				text: 'Join Conversation',

				id: 'btn_' + conversationId,
				click: function(){ 
					socket.emit('joinConversation', conversationId, 'pharmacist');
				}
			});
			return button;
		}

		function appendMessage(msg){
	      $('#messages').append($('<li>').text(msg));
	    }



		</script>

	</body>
</html>