<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/angular-bootstrap-simple-chat/src/css/style.css">
  </head>
  <body ng-app='app'>

    <div ng-controller='MsgCtrl' class='container'>
        <h1>Messages</h1>
        <ul class='list-group'>
            <li ng-repeat='msg in msgs' class='list-group-item'>
                <strong>Person: </strong> <span>{{ msg.msg }}</span>
            </li>
        </ul>
        <alert ng-repeat="alert in alerts" type="success" close="closeAlert($index)">{{alert.msg}}</alert>
        <input ng-model='msgToSend' class='form-control'/>
        <button ng-click='sendMessage()' class='btn btn-default'>Send</button>
    </div>

    <div ng-controller='StartChatCtrl' class='container'>
        <h1>Start Chat</h1>
        <input ng-model='name' class='form-control'/>
        <input ng-model='firstMessage' class='form-control'/>
        <button ng-click='startChat()' class='btn btn-default'>Send</button>
    </div>

    <script src="components/socket.io-client/socket.io.js"></script>
    <script src="components/angularjs/angular.js"></script>
    <script src="components/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script src="components/angular-socket-io/socket.js"></script>

    <script>
       //var ioSocket =io();
       var app = angular.module('app', ['btford.socket-io'
        ]).
        factory('ioSocket', function(socketFactory){
            return socketFactory();
        }).
        controller('StartChatCtrl', function($scope, $rootScope, ioSocket){
            $scope.startChat = function(){
                if($scope.name && $scope.firstMessage){
                    ioSocket.emit('startChat', $scope.name, $scope.firstMessage);
                    $rootScope.$broadcast('firstMessage', $scope.name, $scope.firstMessage);
                    $scope.name = null;
                    $scope.firstMessage = null;
                }
            }
        }).
        controller('MsgCtrl', function($scope, $rootScope, ioSocket){
            $scope.msgs = [];
            $scope.alerts = [{type: 'success', msg: 'hello'}];

            $rootScope.$on('firstMessage', function(name, message){
                appendMessage(message);
            });

            $scope.sendMessage = function(){
                if($scope.msgToSend){
                    ioSocket.emit('chatMessage', $scope.msgToSend);
                    appendMessage($scope.msgToSend);
                    $scope.msgToSend = null;
                }
            }

            $scope.closeAlert = function(index){
                $scope.alerts.splice(index, 1);
            };

            ioSocket.on('chatMessage', function(clientId, message){
                appendMessage(message);
            });

            ioSocket.on('update', function(status){
                $scope.alerts.push({type: 'success', msg: status});
            });

            ioSocket.on('conversationCreated', function(conversation){
                $scope.alerts.push({type: 'success', msg: 'Conversation created'})
            });

            function appendMessage(message){
                $scope.msgs.push({
                    msg: message
                });
            }
        });
    //TODO: how to hide and show in angular?





    </script>
  </body>
</html>