<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body ng-app='app'>
    <div ng-controller ='ChatSignupCtrl'>
        <div ng-controller='MsgCtrl' class='container' ng-hide='showSignup'>
            <h1>Messages</h1>
            <ul class='list-group'>
                <li ng-repeat='msg in msgs' class='list-group-item'>
                    <strong>{{ msg.sender }}: </strong> <span>{{ msg.msg }}</span>
                </li>
            </ul>
            <alert ng-repeat="alert in alerts" type="success" close="closeAlert($index)">{{alert.msg}}</alert>
            <input ng-model='msgToSend' class='form-control'/>
            <button ng-click='sendMessage()' class='btn btn-default'>Send</button>
        </div>

        <div ng-controller='SignupCtrl' class='container' ng-show='showSignup'>
            <h1>Start Chat</h1>
            <label>Name: </label><input ng-model='name' class='form-control'/>
            <label>Message: </label><input ng-model='firstMessage' class='form-control'/>
            <button ng-click='startChat()' class='btn btn-default'>Send</button>
        </div>
    </div>
    <script src="components/socket.io-client/socket.io.js"></script>
    <script src="components/angularjs/angular.js"></script>
    <script src="components/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script src="components/angular-socket-io/socket.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script>
       //var ioSocket =io();
       var app = angular.module('app', ['ui.bootstrap', 'btford.socket-io']).
        factory('ioSocket', function(socketFactory){
            return socketFactory();
        }).
        factory('userNameService', function(){
            return {username: null};
        }).
        controller('ChatSignupCtrl', function($scope, $rootScope){
            $scope.showSignup = true;
            $rootScope.$on('startChat', function(eventName){
                $scope.showSignup = false;
            });
        }).
        controller('SignupCtrl', function($scope, $rootScope, ioSocket, userNameService){
            $scope.startChat = function(){
                if($scope.name && $scope.firstMessage){
                    ioSocket.emit('startChat', $scope.name, $scope.firstMessage);
                    userNameService.username = $scope.name
                    $scope.name = null;
                    $scope.firstMessage = null;
                }
            }
        }).
        controller('MsgCtrl', function($scope, $rootScope, ioSocket, userNameService){
            $scope.msgs = [];
            $scope.alerts = [];

            $rootScope.$on('firstMessage', function(eventName, data){
                appendMessage(data.msg);
            });

            $scope.sendMessage = function(){
                if($scope.msgToSend){
                    ioSocket.emit('chatMessage', $scope.msgToSend);
                    appendMessage(userNameService.username, $scope.msgToSend);
                    $scope.msgToSend = null;
                }
            }

            $scope.closeAlert = function(index){
                $scope.alerts.splice(index, 1);
            };

            ioSocket.on('chatMessage', function(sender, message){
                appendMessage(sender, message);
            });

            ioSocket.on('update', function(status){
                $scope.alerts.push({type: 'success', msg: status});
            });

            ioSocket.on('chatStarted', function(hasStrarted, conversation){
                if(hasStrarted){
                    $scope.alerts.push({type: 'success', msg: 'Conversation created'});
                    $rootScope.$broadcast('startChat');
                    $rootScope.$broadcast('firstMessage', { name: conversation.name, msg: conversation.firstMessage });
                }
            });

            function appendMessage(sender, message){
                $scope.msgs.push({
                    sender: sender
                    msg: message
                });
            }
        });
    //TODO: how to hide and show in angular?





    </script>
  </body>
</html>