<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/chat.css">
  </head>
  <body ng-app='app'>
    <div class="container">
        <div class="row" style="padding-top:40px;">
            <div ng-controller ='ViewCtrl as view' class="col-md-5">

                <div ng-controller='MsgCtrl as messageView' class='panel panel-primary' ng-hide='view.showSignup'>
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chat
                        <span>powered by <a href="http://www.redbodi.co.uk"><img src="images/redbodi_logo.png" width="100" height="20" /></a></span>
                        <div class="btn-group pull-right" dropdown>

                            <button type="button" class="btn btn-default btn-xs" dropdown-toggle>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="glyphicon glyphicon-refresh">
                                </span>Refresh</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-ok-sign">
                                </span>Available</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-remove">
                                </span>Busy</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-time"></span>
                                    Away</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-off"></span>
                                    Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="chat">
                            <li ng-repeat='msg in messageView.msgs' class="{{msg.msgOptions.pullSide}} clearfix"><span class="chat-img pull-{{msg.msgOptions.pullSide}}">
                                    <img src="http://placehold.it/50/{{msg.msgOptions.avatarColour}}/fff&text={{msg.msgOptions.avatar}}" alt="User Avatar" class="img-circle" />

                                </span>

                                <div class="chat-body clearfix">
                                    <div ng-if="msg.msgOptions.pullSide==='left'">
                                        <div class="header">
                                            <strong class=" primary-font"> {{ msg.sender }} </strong><small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span> {{ msg.minutesAgo }} mins ago</small><!--TODO: time to come from model-->
                                        </div>
                                    </div>  
                                    <div ng-if="msg.msgOptions.pullSide==='right'">
                                        <div class="header">
                                            <small class=" text-muted">
                                            <span class="glyphicon glyphicon-time"></span> {{ msg.minutesAgo }} mins ago</small><strong class="pull-right primary-font"> {{ msg.sender }} </strong><!--TODO: time to come from model-->
                                        </div>
                                    </div>  
                                    <p>
                                        {{ msg.msg }}
                                    </p>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <!--<alert ng-repeat="alert in messageView.alerts" type="success" close="closeAlert($index)">{{alert.msg}}</alert>-->
                    <div class="panel-footer">
                        <div class="input-group">
                            <input ng-model='messageView.msgToSend' class='form-control input-sm' placeholder="Type your message here..."/>
                            <span class="input-group-btn">
                                <button ng-click='messageView.sendMessage()' class='btn btn-warning btn-sm' id="btn-chat">Send</button>
                                <button ng-click='messageView.sendMessage()' class='btn btn-warning btn-sm' id="btn-chat"><span class="glyphicon glyphicon-picture"></span></button>
                                <button ng-click='messageView.sendMessage()' class='btn btn-warning btn-sm' id="btn-chat"><span class="glyphicon glyphicon-facetime-video"></span></button>
                            </span>
                        </div>
                    </div>


                </div>
                <div ng-controller='SignupCtrl as signup' class='panel panel-primary' ng-show='view.showSignup'>
                    <div class="panel-heading">
                        <span>Start Chat</span>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input ng-model='signup.name' class='form-control input-sm' placeholder="What is your name?" tooltip="Tell us your name, so we know who you are."  tooltip-trigger="mouseenter" tooltip-placement="bottom"/>
                            <input ng-model='signup.email' class='form-control input-sm' placeholder="What is your email address?" tooltip="We promise not to spam you with emails."  tooltip-trigger="mouseenter" tooltip-placement="bottom"/>
                            <input ng-model='signup.dob' class='form-control input-sm' placeholder="When were you born?"/>
                            <span>
                                <div ng-controller="TermsCtrl as terms">
                                    <script type="text/ng-template" id="myModalContent.html">
                                        <div class="modal-header">
                                            <h3 class="modal-title">Terms and Conditions</h3>
                                        </div>
                                        <div class="modal-body">
                                            <h1>these are the terms</h1>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" ng-click="modal.agree()">Agree</button>
                                            <button class="btn btn-danger" ng-click="modal.cancel()">Disagree</button>
                                        </div>
                                    </script>
                                    I agree to the <a ng-click="terms.openTerms()">Terms and Conditions</a> <input type="checkbox" ng-model="terms.hasAgreed" />
                                </div>
                            </span>

                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input ng-model='signup.firstMessage' class='form-control input-sm' placeholder="Ask us a question..."/>
                            <span class="input-group-btn">
                                <button ng-click='signup.startChat()' class='btn btn-warning btn-sm' id="btn-signup">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller='LocCtrl'>
    </div>

    <script src="components/socket.io-client/socket.io.js"></script>
    <script src="components/angularjs/angular.js"></script>
    <script src="components/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script src="components/angular-socket-io/socket.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="components/moment/moment.js"></script>
    <script src="js/user/app.js"></script>
    <script src="js/ioSocketFactory.js"></script>
    <script src="js/momentFactory.js"></script>
    <script src="js/user/usernameServiceFactory.js"></script>
    <script src="js/user/signupChatToggle.js"></script>
    <script src="js/user/signUpController.js"></script>
    <script src="js/user/messageController.js"></script>
    <script src="js/user/locationController.js"></script>
    <script src="js/user/modalInstanceController.js"></script>
    <script src="js/user/termsController.js"></script>
  </body>
</html>